
body{
  margin:0px;
}

.head_div{
position: relative;
width: 100%;
height: 5rem;
left: 0px;
top: 0px;
background-color: #393E46;
margin: 0;
}


.name_text{
position: absolute;
height: inherit;
margin: 0;
width: 100%;
left: 0;


font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 2rem;
color: white;
padding-left: 55px;
padding-top: 15px;
}

.role_text{
position: absolute;
padding-left: 50px;
margin: 0;
padding-top:8px;

font-family: "Roboto Mono";
font-style: normal;
font-weight: bold;
font-size: 1rem;
}

.main_div{
position: relative;
width: 100%;
height: 587px;
overflow: auto;
}

.photo_box{
position: absolute;
width: 50%;
height: 584px;
margin: 0 0 0 0;
background-color: white;
text-align: center;
}

.photo{
position: relative;
width: auto;
height: 50vh;
margin: 50px auto auto 0;
}

.skillsandprojects{
  position: relative;
  left:50vw;
  width: 50vw;
  height: 584px;
  margin: 0 0 0 0;
  background-color: black;
}

.skills_section{
  position:relative;
  width: inherit;
  height: 50%;
  background-color: white;
}


.skills_header{
position: absolute;
width: 100%;
height: auto;
text-align: center;
padding: 0 auto auto 0;


font-family: "Roboto Condensed";
font-style: normal;
font-weight: bold;
font-size: 2rem;
color: black;
}


.btn_group{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
}


.button1{
position: absolute;
left: 1rem;
top:6.7rem;
width: auto;
height: auto;
text-align: right;
}


.button2{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top:6.7rem;
  width: auto;
  height: auto;
}

.button3{
  position: absolute;
  right: 1rem;
  top:110px;
  margin-left: 50%;
  width: auto;
  height: auto;
}

.button4{
  position: absolute;
  left: 1rem;
  top:152px;
  width: auto;
  height: auto;
}

.button5{
  position: absolute;
  left: 416px;
  top:152px;
  width: auto;
  height: auto;
}

.button6{
  position: absolute;
  right: 1rem;
  top:152px;
  width: auto;
  height: auto;
}

.button7{
  position: absolute;
  left: 0;
  top:110px;
  width: auto;
  height: auto;
}

.button_text{
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  color: black;
  margin: 0;

  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;

}

.projects_section{
  position: relative;
  height: 50%;
  width: 100%;
  background-color: white;
}

.projects_header{
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0 auto auto 0;


  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  color: black;

}

.button8{
  position: absolute;
  left: 20px;
  top:110px;
  width: auto;
  height: auto;
}

.button9{
  position: absolute;
  left: 20px;
  top:156px;
  width: auto;
  height: auto;
}

.button10{
  position: absolute;
  left: 20px;
  top:202px;
  width: auto;
  height: auto;
}

.button_click{
  border-width: 215px;
  border-radius: 40px;
  background-color:black;
  color: white;
}

.contacts_section{
  position: relative;
  width: 100%;
  height: 295px;
  background-color: white;
}

.contact_header{
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0 auto auto 0;


  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  color: black;

}

.pictures_group{
  position: absolute;
  width: 100%;
  height: 100%;
}

.vk_picture{
  position: absolute;
  left: 40%;
  padding-left:7px;
  top: 130px;
  height: 110px;
  width: auto;
}

.tg_picture{
  position: absolute;
  left: 47%;
  top: 130px;
  height: 110px;
  width: auto;
}

.hh_picture{
  position: absolute;
  left: 53.4%;
  top: 130px;
  height: 110px;
  width: auto;
}
