@keyframes pulse {
    0%{
        opacity: 0%;
        transform: scale(0)
    }
    100%{
        opacity: 30%;
        transform: scale(1.25);
    }
}

@keyframes pulse_photo {

    0%{
        transform: scale(1) }
        
    
    100%{
        transform: scale(0.8)  
    }
    
}

@keyframes pulse_photo_onload {

    0%{
        opacity: 80;
        transform: scale(0.8)  
    }
    100%{
        opacity: 100;
        transform: scale(1)  
    }
    
}

@keyframes main_block_animation {

    0%{
        opacity: 30;
        transform: scale(0.8) }
        
    
    100%{
        opacity: 100;
        transform: scale(1)  
    }

}

@keyframes skills_animation {
    
    0%{ 
        transform: scale(1);
     }
    
    100%{ 
        transform: scale(1.2); 
    }
    
}

.skill_box_icon:hover {
    animation: skills_animation 0.5s ease-out forwards;
  }

  .skill_box_icon2:hover {
    animation: skills_animation 0.5s ease-out forwards;
  }

  .skill_box_icon3:hover {
    animation: skills_animation 0.5s ease-out forwards;
  }

  .skill_box_icon4:hover {
    animation: skills_animation 0.5s ease-out forwards;
  }

  .skill_box_icon5:hover {
    animation: skills_animation 0.5s ease-out forwards;
  }

  .skill_box_icon6:hover {
    animation: skills_animation 0.5s ease-out forwards;
  }