
// used for heading in all section
@mixin mainHeaderText {

    font-family: $header_font;
    font-style: $header_font_style;
    font-weight: $header_font_weight;
    font-size: 2rem;
    color: $header_text_color;
    
    }


    // clear fix for grid

    @mixin clearFix {
        &::after{
            content: "";
            display: table;
            clear: both;
        }
    }

    @mixin techSkillsHeaderText {
    font-family: $header_font;
    font-style: $header_font_style;
    font-weight: $header_font_weight;
    color: $header_text_color;
    }
    
    // text styles for section header
    @mixin sectionHeaderText {
    font-family: $header_font;
    font-style: $header_font_style;
    font-weight: $header_font_weight;
    font-size: 2rem;
    color: $main_text_color; }

    @mixin secondLineText {
        font-family: $secondary_font;
        font-style: $secondary_font_style;
        font-weight: $secondary_font_weight;
        font-size: 0.9rem;
    }

    @mixin respond ($breakpoint){

        
        @if $breakpoint == phone {

           
            @media screen and (max-width: 1280px) and (max-height: 1366px){
                 //this is for phones and tablets in portrait

                
                .name_text{
                    font-size: 1.5rem;
                    padding-top: 2rem;
                    padding-left: 5vw;
                }

                .role_text{
                    font-size: 0.7rem;
                    padding-top: 0.6rem;
                    padding-left: 0.5rem;
                }

                .main_div{
                    height: 985.3px;

                }

                .contact_header{
                    font-size: 1.5rem;
                    text-align: center;
                    height: auto;
                    width: 100vw;
                    margin-bottom: 0.2rem; }

                .photo_box{
                    height: 40%;
                    width: 100%;
                    text-align: center;
                }
                
                .baby_box {
                    width: 100%;
                }

                .vk_picture{
                    width: 3.437rem;
                    height: 3.437rem;
                }

                .tg_picture{
                    width: 3.437rem;
                    height: 3.437rem;
                }

                .hh_picture{
                    width: 3.437rem;
                    height: 3.437rem;
                }

                .contacts_section_col{
                    width: calc((#{3.437rem} * 3) / 3);
                }

                .contacts_section_row{
                    width: calc(#{3.437rem} * 3)
                }

                .skills_container_row{
                    font-size: 1.5rem;
                    margin: 0px;
                }

                .skillsandprojects-col-one{
                    font-size: 1.8rem;
                    height: auto;
                    text-align: left;
                }


                .skillsandprojects_container{
                    position: absolute;
                    top: 40%;
                    right: 0;
                    left: 0;
                    width: 100%;
                    height: 35%;
                    margin: 0;
                    background-color: white;
                    border: none;
                }

                .button_text{
                    font-size: 0.9rem;
                }

                .skillsandprojects_container2{
                    position: absolute;
                    top: 75%;
                    right: 0;
                    left: 0;
                    height: 35%;
                    width: 100%;
                }

                .skills_container_row3{
                    width: 100%;
                    height: 39px;
                    //height: calc((100% - #{$skills_head-row})/3);
                    border: none;
                  }
                
            }

            @media screen and (max-width: 900px) {

                .skill_box1{
                    // margin-top: 20vh;
                    width: 290px;
                    background-image: url("../images/skillbox_frame_mobile.svg");
                }

                .skill_box_descriptionbox{
    
                    margin-top: 15%;
                    margin-left: 15px;
                    margin-right: 15px;
                    width: 90%;
              
                  }

                  .skill_box_descriptionbox2{
    
                    margin-top: 15%;
                    margin-left: 10px;
                    margin-right: 10px;
              
                  }

                .skill_box_descriptiontext{
                    text-align: center;
                    font-size: 0.85rem;
                    width: auto;
                }

                .skill_boxes_heading{
                    font-size: 1.2rem;
                    padding-top: 20px;
                    padding-left: 70px;
                }

                .skill_box_iconbox {
                    position: absolute;
                    top: 54px;
                    width: 100%;
                    height: 90%;
                    left: 0; }
                    
                    .skill_box_icon {
                        background-image: url("../images/project planning icon_mobile.svg");
                        height: 36%;
                        width: 220px;
                        margin-top: 75%;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    .skill_box_icon2 {
                        background-image: url("../images/team_management_mobile.svg");
                        height: 32%;
                        width: 250px;
                        margin-top: 75%;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    .skill_box_icon3 {
                        background-image: url("../images/ipad icon_mobile.svg");
                        height: 31%;
                        width: 230px;
                        margin-top: 75%;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    .skill_box_icon4 {
                        background-image: url("../images/dev advocate icon_mobile.svg");
                        height: 45%;
                        width: 201px;
                        margin-top: 75%;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    .skill_box_icon5 {
                        background-image: url("../images/manual testing icon_mobile.svg");
                        height: 30%;
                        width: 202.1px;
                        margin-top: 75%;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    .skill_box_icon6 {
                        background-image: url("../images/research icon_mobile.svg");
                        height: 27%;
                        width: 191px;
                        margin-top: 75%;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    .tech_skills_block_items_row {
                        width: 300px;
                    }

                    .tech_skills_block_item_header {
                        margin-top: 30px;
                    }

                    .tech_skills_block {
                        height: 104vh;
                    }

                    .skillsandprojects-special-col {
                        width: auto;
                    }
                  

            }
    }

    @if $breakpoint == tab_land {
    @media screen and (min-width: 1024px) and (max-width: 1299px){ 
        .button_text{
            font-size: 0.9rem;
        }
    }}

    @if $breakpoint == mac13 {

        @media screen and (min-width: 1300px) and (max-height: 1200px) {

            .button_text{
                font-size: 0.9rem;
            }

            #fix {
                position: relative;
                transform: translate(-25%);
            }
        
        } }

        @if $breakpoint == mac15 {

            @media screen and (min-width: 1600px) {
    
                .button_text{
                    font-size: 1.13rem;
                }

                .skillsandprojects-col-header{
                    font-size: 2.5rem;
                }
            }
                
            }

            @if $breakpoint == mac16 {

                @media screen and (min-width: 2560px) {
        
                    .button_text{
                        font-size: 2.5rem;
                    }

                    .skillsandprojects-col-header{
                        font-size: 4rem;
                    }

                    .skills_container_row{
                        margin-bottom: 100px;
                    }
                }
                    
                }

       

            }