@import "SCSS/Mixins";
@import "SCSS/Variebles";
@import "SCSS/imgs";
@import "SCSS/Slider";
@import "SCSS/animations";

// Media queries located in Mixins

body{
    margin:0px;
    padding: 0;
    font-size: 100%;
    height: 520vh;
    width: 100vw;
    scroll-behavior: smooth;
  }
  
  // Header
  .head_div{
  position: sticky;
  width: 100vw;
  height: $head_div_height;
  left: 0px;
  top: 0px;
  background-color: $header_color;
  margin: 0;
  animation: main_block_animation 2s ease-out forwards;
  z-index: 4;
  overflow: hidden;
  }
  
  
  .name_text{
  position: absolute;
  height: inherit;
  margin: 0;
  width: 100%;
  padding-left: 3.43rem;
  padding-top: 1.2rem;
  
  
  @include mainHeaderText() }
  
  .role_text{
  position: absolute;
  padding-left: 3.12rem;
  padding-top: 0.8rem;
  margin: 0;
  
  font-family: $secondary_font;
  font-style: $secondary_font_style;
  font-weight: $secondary_font_weight;
  font-size: 1rem;
  }
  
  //Main block with photo and buttons
  .main_div{
  position: relative;
  width: 100vw;
  height: 630px;
  //height: calc(100vh - (#{$head_div_height} + #{$contact_section_height}));
  overflow: none;
  }
  
  //photo itself is located in imgs file
  .photo_box{
  position: relative;
  width: 50vw;
  height: 100%;
  margin: 0 0;
  background-color: $header_text_color;
  text-align: center;
  }

  .baby_box {
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    width: 517.3px;
    height: 85%;
    //background-color: black;
    z-index: 1;
    scale: 0.9;
    animation: pulse_photo_onload 2s ease-out forwards;
   }

   .baby_box:hover{
    animation: pulse_photo 4s infinite;

  }

  //baby_box used for photo pulsing animation
  .baby_box::after {
    content: "";
    position: absolute;
    margin-top: 50px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    height: 85%;
    //background-color: black;
    border-radius: 50%;
    border-width: 1px;
    border-left-style: solid;
    border-right-style:solid;
    border-top-style: none;
    border-bottom-style: none;
    opacity: 0%;
    z-index: -1;

  }

  .baby_box:hover::after{
    content: "";
    animation: pulse 4s infinite;
  }  


  

  //Skills container
  .skillsandprojects_container{
    position: relative;
    bottom: 100%;
    left: 50%;
    width: 50vw;
    height: 50%;
    margin: 0;
    background-color: white;
    border: none;
    animation: main_block_animation 2s ease-out forwards;
  }

   //Projects container
  .skillsandprojects_container2{
    position: relative;
    bottom:100%;
    left: 50%;
    width: 50%;
    height: 50%;
    margin: 0;
    background-color: white;
    border: none;
   animation: main_block_animation 2s ease-out forwards;
  }

  p {
    line-height: normal;
  }

  .secondLineTextClass{

    line-height: 70%;

  }

  .secondLineText {
    @include secondLineText
  }


  .skills_container_row{
    width: 100%;
    height: $skills_head-row;
  }

  .skillsandprojects_container_row{
    width: 100%;
    height: 50%;
  }

  // row for float table in skills section
  .skills_container_row2{
    width: 100%;
    height: calc((100% - #{$skills_head-row})/4);
    border: none;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
  }

   // row for float table in projects section
  .skills_container_row3{
    width: 100%;
    height: calc((100% - #{$skills_head-row})/4);
    border: none;
    margin-bottom: 0.5rem;
  }

  // Section in float table for Skills container
  .skillsandprojects-col{
    width: calc(100% / 3);
    height: 100%;
    float: left;
    background-color: white;
    text-align: center;
  }

  // Section in float table for Projects container
  .skillsandprojects-col-one{
    width: inherit;
    height: inherit;
    float: left;
    background-color: $header_text_color;
    text-align: left;
    @include sectionHeaderText();
  }

  //Used for header row line either in Skills and Projects containers
  .skillsandprojects-col-header{
    width: inherit;
    height: inherit;
    float: left;
    background-color: $header_text_color;
    text-align: center;
    @include sectionHeaderText();
  }

  
  

  .button_test{
    position: relative;
    width: auto;
    height: auto;
  }
  
  
  .button_text{
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    color: black;
    margin: 0;
  
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  
  }

  .button_test:active {
    animation: pulse_photo 1s ease-out;
  }
  
  .projects_section{
    position: relative;
    height: 50%;
    width: 100%;
    background-color: $header_text_color;
  }
  
  .projects_header{
    position: absolute;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0 auto auto 0;
  
  
    @include sectionHeaderText();
  
  }
  
  
  // Used in Index js to style buttons
  .button_click{
    border-width: 215px;
    border-radius: 40px;
    background-color:black;
    color: white;
  }
  
  
  // Contacts section
  .contacts_section{
    position: relative;
    bottom: calc(100vh - (#{$main_div_height} + #{$head_div_height} + #{$contact_section_height}));
    width: 100vw;
    height: $contact_section_height;
    animation: main_block_animation 2s ease-out forwards; 
  }


    .contacts_header_container{
      width: 100%;
      height: $contacts_section_header_height;
      text-align: center;
    }
  
  .contact_header{
    text-align: center;
    height: auto;
    width: 100vw;
    //transform: translate(-25%);
    margin-bottom: 0.2rem;
    display: block;
  
  
    @include sectionHeaderText();
  
  }

  .contacts_section_row{
    position: absolute;
    top: $contacts_section_header_height;
    padding-top: 1rem;
    left: 0;
    right: 0;
    bottom: 0px;
    height:calc(100% - #{$contacts_section_header_height});
    margin: 0 auto;
    width: calc(#{$picture_width} * 4);
    @include clearFix
  }

  .contacts_section_col{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: auto;
    width: calc((#{$picture_width} * 4) / 3);
    text-align: center;
    float: left;
    margin:0 auto;
  }


  .skill_box1{
    position: relative;
    margin: 0 auto;
    margin-top: 20vh;
    height: 485px;
    width: 910px;
    background-color: #ffffff;
    background-image: url("../images/skill_description_box.svg");
    z-index: 1;
  }

  .skill_boxes_heading {
    text-align: center;
    @include sectionHeaderText;
    color: #ffffff;
    padding-top: 1rem;
    font-size: 1.5rem;
    z-index: 2;
  }

  .skill_box_iconbox {
    position: absolute;
    top: 54px;
    width: 50%;
    height: 90%;
    left: 50%;
    z-index: 2;
  }

  
  .skill_box_icon {
    height: 60%;
    width: 383px;
    margin-top: 17%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    background-image: url("../images/project planning icon.svg");
    z-index: 3;
  }

 


  .skill_box_icon2 {
    height: 48%;
    width: 383px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/team_management.svg");
  }

  .skill_box_icon3 {
    height: 48%;
    width: 356px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/ipad icon.svg");
  }

  .skill_box_icon4 {
    height: 44.5%;
    width: 201px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/dev advocate icon.svg");
  }

  .skill_box_icon5 {
    height: 38.5%;
    width: 261px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/manual testing icon.svg");
  }

  .skill_box_icon6 {
    height: 37%;
    width: 261px;
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/research icon.svg");
  }

  .skill_box_descriptiontext {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 1.13rem;
    color: black;
    margin: 0; }

    .skill_box_descriptionbox{
    
      margin-top: 15%;
      margin-left: 15px;

    }

    .skill_box_descriptionbox2{
    
      margin-top: 13%;
      margin-left: 15px;

    }

    .up_button {
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      background-image: url("../images/up button.svg");
      width: 174px;
      height: 47px;
    }

    .footer {
      width: 100vw;
      background-color: $header_color;
      height: $head_div_height;
      margin-top: 10%;
    }


  .learn_more{
    width: auto;
    height: auto;
    text-align: center;
  }

  @include respond(phone);
  @include respond(mac13);
  @include respond(mac15);
  @include respond(mac16);
  @include respond(tab_land);

